body, html {
    height: 100%;
  }
  
  .parallax {
    background-image: url("../images/banana_1.jpg");
    
    height: 170%;
  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

@media (max-width: 780px){
    .parallax{
        background-size: fit-content;
    }
}
@media (max-width: 500px){
  .parallax{
    height: 130%;
  }
}
@media (max-width: 400px){
  .parallax{
    height: 130%;
  }
}
