:root   {
    --background: #202020;
    --navbar: rgba(33, 33, 33, 0.9);
    --t-border: rgba(0, 0, 0, 0.5);
    --text-h1: #ffffff;
    --text-nav: #ffffff;
    --text-p: #575757;
    --text-h2: #fddf57;
    --menu-fg-color: #eeeeee;
    --link-color: #335C67;
    --medium-gap: 1rem;
}
@font-face{
    font-family: Roman;
    src:url(../fonts/roman.ttf)
}

@font-face{
    font-family: popins;
    src:url(../fonts/popins.ttf)
}

body    {
    margin: 0;
    padding: 0;
    background-color: var(--background);
}


h1  {
    color: var(--text-h1);
    display: flex;
    justify-content: center;
    font-size: 10rem;
}

@media( max-width: 1000px){
    h1{
        font-size: 7rem;
    }
}

@media( max-width: 400px){  
    h1{
        font-size: 3.5rem;
    }
}

.main-nav   {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to right, var(--navbar), rgb(33, 33, 33));
}
.logo {
    padding: 0.2rem;
    margin-left: 3rem;
    width: 4rem;
    height: 3rem;
    justify-content: flex-start;
    align-items: baseline;
}

@media ( max-width: 500px){
    .logo{
        display: none;
    }
    .main-nav{
        justify-content: flex-end;
    }
}

.nav-link   {
    display: inline-block;
}

a   {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--navbar);
  }
  
  li {
    float: left;
  }
  
  li a {    
    font-family: Roman;
    display: block;
    color: var(--text-nav);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #111;
    color: white;
    border-radius: 5px;
  }
  .space-gallery {
    margin-top: 10%;
    padding: 2.5%;
    height: 25%;
    margin-left: 0;
    margin-right: 0;
    color: var(--text-p);
    background-color: var(--navbar);
  }
  .space{
    margin-top: 10%;
    padding: 2.5%;
    height: 70%;
    margin-left: 15%;
    margin-right: 15%;
    color: var(--text-p);
    background-color: var(--navbar);   
  }

  @media ( max-width: 700px){
    .space{
        margin-left: 0%;
        margin-right: 0%;
        margin-bottom: 0%;
        height: 90%;
    }
  }
  @media ( max-width: 500px){
    .space{
        margin-left: 0%;
        margin-right: 0%;
        margin-bottom: 0%;
        height: 70%;
    }
  }
  @media ( max-width: 400px){
    .space{
        margin-left: 0%;
        margin-right: 0%;
        margin-bottom: 0%;
        height: 85%;
    }
  }

 p  {
    font-size: 1.5rem;
    margin-bottom: 7%;
    color: var(--text-nav);
    font-family: popins;
    text-align: justify;
 }

@media(max-width: 500px){
    p   {
        font-size: 1.3rem;
    }
}
@media(max-width: 300px){
    p   {
        font-size: 1rem;
    }
}

 h2 {
    font-size: 2rem;
    border-bottom: 2px solid var(--headings-color);
    text-decoration: underline;
    color: var(--text-h2);
    font-family: Roman;
 }
 h3 {
    font-size: 1.5rem;
    border-bottom: 2px solid var(--headings-color);
    color: var(--text-h2);
    font-family: Roman;
 }
 h4 {
    font-size: 1.5rem;
    border-bottom: 2px solid var(--headings-color);
    text-align: justify;
    font-family: Roman;
 }

 .galerie{
    display: flex;
    flex-direction: row;
 }

 .image {
    width: 30%;
    height: 30%;
    max-height: max-content;
    margin-bottom: 2%;
    margin-inline-start: 5%;
    margin-inline-end: 5%;
 }

footer{
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100%;
    padding-top: 40px;
    color: #fff;
    margin-top: 0rem;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 100%;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}

@media (max-width:500px) {
    .footer-menu ul{
        display: flex;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    div.gallery-box{
        width: 50%;
    }
}
.footer-menu   {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-around;
    background-image: linear-gradient(to right, var(--navbar), rgb(33, 33, 33));
}
 div.gallery p {
    font-size: 1.5rem;
    margin-bottom: 0%;
    color: var(--text-nav);
    font-family: popins;
    text-align: center;
}

div.gallery {
    margin: 1.8%;
    float: left;
    width: 100%;
}
div.gallery-box {
    height: 70%;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-wrap: row;
}

@media( max-width: 800px) {
    div.gallery-box{
        flex-wrap: none;
        width: 45%;
        margin: auto;
        display: block;
    }
    .space-gallery{
        height: 80%;
    }
    div.gallery p{
        font-size: 1rem;
    }
}
  
.gallery img {
    flex-basis: 25%;
    width: 100%;
}
  
.gallery p {
    font-size: 80%;
}

.gallery-image{
    border: 0.2rem solid var(--text-h1);
    transition: all 0.2s ease;
    border-radius: 0.5rem;
}

.gallery-image:hover{
    border-radius: 0.5rem;
    justify-content: center;
    border: 0.2rem solid var(--text-h1);
    box-shadow: 0px 0px 30px var(--text-h1);
    margin: 2.5%;
    width: 95%;
}   
.background-yellow{
    background-image: url("../images/yellow_bananas.jpg");
    background-size: cover;
    background-repeat: none;
}
.background-red{
    background-image: url("../images/red_bananas.jpg");
    background-size: cover;
    background-repeat: none;
  }
.background-blue{
    background-image: url("../images/blue_bananas.jpg");
    background-size: cover;
    background-repeat: none;
  }
.background-green{
    background-image: url("../images/green_bananas.jpg");
    background-size: cover;
    background-repeat: none;
  }